<html>
<head>
    <title>Analytics</title>

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/theme.css" rel="stylesheet">
    <link href="../static/css/ui.css" rel="stylesheet">
    <link href="../static/css/layout.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/step-form-wizard.css" rel="stylesheet">
    <link href="../static/css/heatmap/cal-heatmap.css" rel="stylesheet">
    <link href="../static/css/angucomplete-alt.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/meterialDesign/angular-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/meterialDesign/font.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/meterialDesign/my_meterial_style.css" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="../static/img/Hirealchemy-Logo.ico"/>

</head>
<!--<script type="text/javascript" data-main="static/js/angular/config/require_config_min.js" src="static/js/angular/jslibs/require_jquery.js"></script>  sidebar-collapsed-->
<script type="text/javascript" data-main="static/js/angular/config/require_config.js"
        src="static/js/angular/jslibs/require_jquery.js"></script>


<body data-page="login" id="body" class="account separate-inputs sidebar-condensed fixed-topbar fixed-sidebar theme-sdtl color-default">

    <div data-ng-view=""></div>
<a class="scrollup" style="cursor:pointer"><i class="fa fa-angle-up"></i></a>
   
</body>
</html>