<style>
 .container {
    width: 1200px !important;
    height: auto;
}

</style>

<section>
    <div menu-list></div>
    <div class="main-content">
        <div after-login-header data-ng-init="loadChart()">
        </div>
        <div class="page-content">
          <div class="header">
            <h2>
              Change Password</h2>


          </div>


          <div class="row">



              <div class="col-md-12 portlets ui-sortable">
              <div class="panel">
                <div class="panel-header panel-controls" data-ng-if="error_msg">
                  <center><h3><strong><span style="color:red" data-ng-bind="error_msg"></span></strong></h3></center></div>
                </div>
                <div class="panel-content" style="height:100%">


                  <form role="form" name="change_pass_frm" style="margin-left:36%">


                            <div class="form-group">
                              <label>Old password: </label><br/>
                              <input type="password" name="old_pass" data-ng-model="old_pass"/>
                            </div>
                            <div class="form-group">
                              <label>New password: </label><br/>
                              <input type="password" name="new_pass" data-ng-model="new_pass"/>
                            </div>
                            <div class="form-group">
                              <label>Confirm password: </label><br/>
                              <input type="password" name="confirm_new_pass" data-ng-model="confirm_new_pass"/>
                            </div>
                              <div class="form-group" style="margin-left:4%">

                              <button type="button" data-ng-disabled="!old_pass || !new_pass || !confirm_new_pass" data-ng-click="do_change_password()" value="Change" class="btn btn-primary">Change</button>
                            </div>



                  </form>

                </div>
              </div>
            </div>











          </div>


          <div class="footer" after-login-footer>

          </div>
        </div>
    </div>

 </section>
