<div class="row" style="background-color:#fff;">
    <div class="col-md-12 page-rotatey" style="height:100%;">
        <div>
            <center><img src="./static/img/error.jpg" style="margin-top:100px;" alt="loading"/></center>
        </div>
        <center>
            <h3>Oops something went wrong...Please click on try again button.</h3></center>
        <div>
            <br>
            <center>
                <b><input
                        style="background-color:#ccc; padding-left:10px; padding-right:10px; border:0px; font-size:20px;"
                        type="button" value="try again" data-ng-click="redirect_to_login()"></b>

            </center>
        </div>


    </div>

</div>
	









